<% if @user.id == session[:user] %>
    <div class="text-center"><h1>My Collections </h1></div>
<% else %>
  <div class="text-center"><h1>Collections by <%= @user.name %> </h1></div>
<% end %>

<div>
<% if @user.id == session[:user] %>
  <div class="text-center"><%= link_to 'New Collection', new_user_collection_path, class:"btn btn-success" %></div>
<% end %>

  <div class="row large-padding">
      <% @collections.each do |collection| %>
          <div><strong><%= collection.name %></strong></div>
          <div>Created by <%= collection.user.name %> <%= time_ago_in_words(collection.updated_at) %> ago</div>
          <div><%= link_to 'Show', user_collection_path(collection.user, collection) %>
          <% if collection.user.id == session[:user] %>
            <%= link_to 'Edit', edit_user_collection_path(collection.user, collection) %>
            <%= link_to 'Destroy', user_collection_path(collection.user, collection), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          </div>
      <% end %>
  </div>
</div>