<p id="notice"><%= notice %></p>

<% if @user.id == session[:user] %>
  <h1>My Collections </h1>
<% else %>
  <h1>Collections by <%= @user.name %> </h1>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collections.each do |collection| %>
      <tr>
        <td><%= collection.name %></td>
        <td><%= collection.user.name %></td>
        <td><%= link_to 'Show', user_collection_path(collection.user, collection) %></td>
        <% if collection.user.id == session[:user] %>
          <td><%= link_to 'Edit', edit_user_collection_path(collection.user, collection) %></td>
          <td><%= link_to 'Destroy', user_collection_path(collection.user, collection), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if @user.id == session[:user] %>
  <%= link_to 'New Collection', new_user_collection_path %>
<% end %>
