<div class="text-center">
	<h1>
	  <%= @collection.name %>
	</h1>
</div>
</br>
<div class="row large-padding">
	<div>
		<p>
	  		<strong>User:</strong>
	  		<%= @collection.user.name %>
		</p>
		<h3>Notes:</h3>
		<ul class="collection-notes no-list">
		<% @collection.notes.each do |note| %>
			<li><%= link_to note.title, user_note_path(note.user, note) %> - 
				<% if @user.id == session[:user]%>
					<%= link_to "Quit", delete_note_collection_path(@user, @collection, note.id) %>
				<% end %>
			</li>
		<% end %>
		</ul>
	</div>

	<%= link_to 'Back', user_collections_path %>
	<% if @user.id == session[:user] %>
		<%= link_to 'Edit', edit_user_collection_path(@collection.user, @collection) %>
		<%= link_to 'Destroy', user_collection_path(@collection.user, @collection), method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
</div>