<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @collection.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @collection.user.name %>
</p>
<% if @user.id == session[:user] %>
	<%= link_to 'Edit', edit_user_collection_path(@collection.user, @collection) %>
<% end %>
<%= link_to 'Back', user_collections_path %>
