<div class="text-center page-header">
	<h1>
	  <%= @collection.name %>
	</h1>
</div>
<div class="row large-padding">
		
		<div class="col-lg-6">
			<h3>Notes:</h3>
			<table class="table table-bordered">
				<%if @collection.notes.each.size ==0%>
					<div>There isn't notes in this collection. Click on "EDIT" to add some</div>
				<%else%>
				<% @collection.notes.each do |note| %>
					<tr>
						<td>
							<strong><%= link_to note.title, user_note_path(note.user, note) %></strong>
						</td>
						<td class="text-center">
							<% if @user.id == session[:user]%>
								<%= link_to "View Note", user_note_path(note.user, note), class:"btn btn-primary", style:"margin-right:10px;" %>
								<%= link_to "Quit", delete_note_collection_path(@user, @collection, note.id),class:"btn btn-danger" %>
							<% else %>
								<%= link_to "View Note", user_note_path(note.user, note), class:"btn btn-primary" %>
							<% end %>	
						</td>
					</tr>
				<% end %>
				<%end%>
			</table>
		</div>



	<div class="col-lg-6" style="padding-left: 50px">
		<h3>Info-Actions:</h3>
		<p>Created by <%= @collection.user.name %> <%= time_ago_in_words(@collection.updated_at) %> ago</p>
		<% if @user.id == session[:user] %>
			<%= link_to 'Share', share_collection_path(@collection.user, @collection), class:"btn btn-primary" %>
			<%= link_to 'Edit', edit_user_collection_path(@collection.user, @collection),class:"btn btn-warning" %>
			<%= link_to 'Destroy', user_collection_path(@collection.user, @collection),class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
			<%= link_to 'Back', user_collections_path,class:"btn btn-info" %>
		<% end %>
		
	</div>
</div>