<%= form_for([@user, @note]) do |form| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="panel panel-warning col-lg-12 col-centered">
  <div class="panel-heading">
    <%= form.label :title %>
    <%= form.text_field :title, id: :note_title %>
  </div>
  <div class="panel-content">
  <div class="field">
    <%= form.label :photo, "Image" %>
    <%= form.file_field :photo %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :note_body, style:"width: 100%; height: 75px;" %>
  </div>
  </div>
  <div class="actions panel-footer text-center">
    <%= form.submit("Create Note",class:"btn btn-success") %>
    <%= link_to 'Back', user_notes_path, class:"btn btn-info" %>
  </div>
</div>
<% end %>
