<h1>Notes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><strong><%= note.title %></strong></td>
        <td><%= note.body %></td>
        <td><%= note.user.name %></td> 
        <td><%= link_to 'Show', user_note_path(note.user, note) %></td>
        <% if @user.id == session[:user] %>
          <td><%= link_to 'Edit', edit_user_note_path(note.user, note) %></td>
          <td><%= link_to 'Destroy', user_note_path(note.user, note), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "New Note", new_user_note_path %>