<div class="page-header"><% if @user.id == session[:user] %>
  <div class="text-center"><h1>My Notes</h1></div>
<% else %>
  <div class="text-center"><h1>Notes by <%= @user.name %></h1></div>
<% end %></div>

<div>
  <% if @user.id == session[:user] %>
    <div class="text-center"><%= link_to "New Note", new_user_note_path,class:"btn btn-success" %></div>
  <% end %>
  <div class="row large-padding">
    <% @notes.each do |note| %>        
        <div class="col-xs-12 col-sm-6 col-lg-6 text-center">
        <div class="panel panel-warning col-xs-12 col-sm-12 col-lg-12">
        <div class="panel-heading"><strong><%= note.title %></strong></div>
        
        <div class="panel-content"><%= note.body %></div>
        <div class="panel-footer">
        <div>Written by <%= note.user.name %> <%= time_ago_in_words(note.updated_at) %> ago</div>
        
        <div><%= link_to 'Show', user_note_path(note.user, note),class:"btn btn-primary" %>
        <% if @user.id == session[:user] %>
          <%= link_to 'Edit', edit_user_note_path(note.user, note),class:"btn btn-warning" %>
          <%= link_to 'Destroy', user_note_path(note.user, note), class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to 'Share', edit_user_note_path(note.user, note),class:"btn btn-info" %>
        <% end %>
        </div></div> </div></div>
    <% end %>
  </div>
</div>
<br>