<h1 class="text-center">Share Note with</h1>
<div class="row large-padding">

<% if @friends.size > 0 %>
	<%= form_for([@user, @note], url: {action: "share_note"}) do |form| %>
	  <% if @note.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

	      <ul>
	      <% @note.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="field">
	    <label>Friends:</label>
	    <div class="field collection-notes">
	      <% @friends.each do |f| %>
	        <p><%= check_box_tag "users[]", f.id %> <%= f.name %></p>
	      <% end %>
	    </div>
	  </div>
	  
	  <div class="actions">
	    <%= form.submit "Compartir" %>
	  </div>
	<% end %>
	<%= link_to 'Back', user_note_path(@user, @note) %>
</div>
<% else %>
	<p>You have no friends to share</p>
<% end %>