

<div class="row">
	<div class="col-lg-6 panel panel-warning col-centered">
	<h2 class="panel-heading text-center">
  		<%= @note.title %>
	</h2>
	<div class="panel-content">
	<p>
	  <%= @note.body %>
	</p>

	<div class="field">
		<% if @note.photo.exists? %>
			<%= image_tag @note.photo.url %>
		<% end %>
	</div>
	</div>
	<div class="panel-footer text-center">
	<p>Written by <%= @note.user.name %> <%= time_ago_in_words(@note.updated_at) %> ago</p>

	<% if @user.id == session[:user] %>
		<%= link_to 'Edit', edit_user_note_path(@note.user, @note),class:"btn btn-warning" %>
          <%= link_to 'Destroy', user_note_path(@note.user, @note), class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to 'Back', user_notes_path,class:"btn btn-info" %>
	<% end %>
</div></div></div>