<h1 class="page-header text-center">Change Password</h1>

<div class="row large-padding">
<div class="col-lg-6 col-centered panel panel-primary"><div class="panel-heading"><%= form_for(@user) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :password,"New password" %>
    <%= form.password_field :password, id: :user_password,class:"form-control" %>
  </div>
<div class="panel-footer text-center">

    <%= form.submit("Save",class:"btn btn-success") %>    <%= link_to 'Back', @user,class:"btn btn-info" %>
<% end %>

	
</div>