<h1 class="text-center page-header">All Users</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Name</th>
      <th >Email</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% unless user.id == session[:user] %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          
          <%if friends_with(user) %>
            <td><%= link_to 'Show', user %></td>
          <% else %>
              <td><%= link_to "Friend request", my_friends_path(:user2 => user.id),:method => :post,data: { confirm: 'Do you really want to make a friend request to this user?' } %></td>
          <% end %>        
          
          <% if authenticate_admin! && !user.is_super_admin? %>
            <td>
              <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, style: "padding-right:10px" %>
              <%= link_to 'Edit', edit_user_path(user) %>  
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>