<h1 class="text-center page-header">All Users</h1>
<%  @user = User.find(session[:user])
      if @user.permission_level>=2 %>
<table class="table table-stripped">
  <thead>
    <tr>
      <th>Name</th>
      <th >Email</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          
            <td><%= link_to 'Show', user %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, style: "padding-right:10px" %></td>
              
        </tr>
      <% end %>
  </tbody>
</table>
<% else %>
    <p>You don't have permission to view this content</p>
  <% end %>