<h1 class="text-center page-header"><%=@user.name%>'s profile</h1>
<div class="row large-padding">
	<div class="col-lg-6 col-centered panel panel-primary">
	<div class="panel-heading">
	<p>
	  <strong>Name:</strong>
	  <%= @user.name %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= @user.email %>
	</p>
	</div>
	<div class="panel-footer text-center"> <%= link_to 'Back', welcome_path,class:"btn btn-info" %>
	<% if session[:user]== @user.id && !@user.is_super_admin? %>
		<%= link_to 'Edit', edit_user_path(@user),class:"btn btn-warning" %>
		<%= link_to 'Destroy', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %>
	<%end%>
</div>
</div>